<h1>Listing birds</h1>

<% @birds.each do |bird| %>
    <div>
      <span class="bird_name"><%= bird.name %></span>
      <%= bird.bird_type %>
      <%= link_to 'Show', bird %>
      <%= link_to 'Edit', edit_bird_path(bird) %>
      <%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>


<br>

<%= link_to 'New Bird', new_bird_path %>
